[settings]
language=en-US

[engines]
tts=tts_pyvona
speech_recognition=google
target=kodi
input=hook_always_up
sound=audio_in_out
personal_assistant=api_ai
#personal_assistant=houndify_engine

[sound]
wait_after_speak=20
recording_samplerate=48000
#the pyAudio device index
phone_in=1
phone_out=2
speakers_out=1
threshold=0.020

[alsa]
phone=plughw:1,0
speakers=plughw:0,0

[tts]
gender=Male

[immediateActions]
stop=executeAction(stop)
play=executeAction(play)
mute=executeAction(mute)
next=executeAction(skipnext)
previous=executeAction(skipprevious)
left=executeAction(left)
right=executeAction(right)
down=executeAction(down)
up=executeAction(up)
back=executeAction(back)
info=executeAction(info)
home=executeAction(home)

[apps]
spotify=plugin://plugin.audio.spotlight
youtube=plugin://plugin.video.youtube

[aiapi]
;client_access_token=b240ec13475a464890af46b48f49f5c7
client_access_token=fb928615eb914f4785e110eecad49c95
subscription_key=7c4c06c1-eb1d-4fd3-9367-134f20cbcb25

[xbmc]
host=osmc
port=9777

[gpio]
hook=11

[googleapi]
clientid=272982464081-rc5ig2r9ll797gdp7kskbpjj42pemu4o.apps.googleusercontent.com
clientsecret=UogOQvw6ILkgtfn0BriglxH5

[tts]
engine=pyvona
gender=Male

[houndify]
client_id=wniU9od72rVhNhMkbz_CcQ==
client_key=l7onYG8L5ymGmducxBJNke2wDY-m5mPRzCc9Oc8_qNV2MPIheBsKGcaaCpTfxPZDWS-h3AOH_KSagJAsXbF7cg==
