[apps]
spotify=plugin.audio.spotlight
youtube=plugin.video.youtube

[news]
search=ActivateWindow(videos,plugin://plugin.video.nos?module=laatste_journaals&playlast=true)

[media]
__init__=Action(Stop)
music_play[q->dumpert]=ActivateWindow(videos,plugin://plugin.video.dumpert?action=play)
video_search[artist->{artist}]=ActivateWindow(videos,plugin://plugin.video.youtube/kodion/search/query/?q={artist})
video_search[q->{q}]=ActivateWindow(videos,plugin://plugin.video.youtube/kodion/search/query/?q={q})
video_play[q->{q}]=ActivateWindow(videos,plugin://plugin.video.youtube/kodion/search/query/?q={q})
;video_play[service_name->youtube]=ActivateWindow(videos,plugin://plugin.video.youtube)
;video_play=ActivateWindow(videos,plugin://plugin.audio.spotlight)

[entertainment]
songs[q->{q}]=ReplaceWindow(videos,plugin://plugin.video.youtube/kodion/search/query/?q={q})

[series]
__init__=Action(Stop)
watch[series->{series}]=RunPlugin(plugin://plugin.video.uzg/laatste/{series})

[browser]
open[url->{url}]=Launch.OpenURL({url})

[images]
search[q->{q}]=Launch.OpenURL(http://www.google.com/webhp?hl=en#hl=en&amp;source=hp&amp;q={q})

[cool]
__init__=Action(Stop)
relax=PlayMedia(plugin://plugin.video.youtube/play/?video_id=RDfjXj5EGqI)
awesomemusic=ActivateWindow(videos,plugin://plugin.video.youtube/play/?playlist_id=PL9245BD4EDED99DF7&mode=shuffle)
